@{
    ViewBag.Title = "Login";
}

<div>
    <form action="/Home/Login" method="post">
        Login:<br>
        <input type="text" value="Mickey" name="Login">
        <br>
        Password<br>
        <input type="password" name="Password" value="123">
        <br><br>
        <input type="submit" value="Sign in">
    </form>
</div>